@{
    ViewBag.Title = "Inactive";
}

<div class="jumbotron">
    <h1>You have not been activated yet!</h1>
    <p class="lead">Someone will activate your account soon. Please be patient.</p>
    <p>You will recieve an email when you are activated and will need to <strong>log out and log back in</strong> </p>
    <p><a href="http://smsteam.net/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>